[DXR]
# Some global options here, if you like
enabled_plugins     = pygmentize clang
es_hosts  	        = http://172.17.0.2:9200/
es_index            = dxr_test_{config_path_hash}_{format}_{tree}_{unique}
es_alias            = dxr_test_{config_path_hash}_{format}_{tree}
es_catalog_index    = dxr_test_{config_path_hash}_catalog

[llvm]
source_folder       = /home/llvm-project/
object_folder       = /home/llvm-project/build/
build_command       = cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_PROJECTS="clang;libcxxabi;libcxx;lldb" -DLLVM_TARGETS_TO_BUILD=X86 /home/llvm-project/llvm ; make -j {workers}
ignore_patterns     = build dxr-logs-llvm dxr-logs-llvm *.csv